.rate-div{
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nums{
    display: flex;
    gap: 21px;
}
button{
    background: #262E38;
    height: 51px;
    width: 51px;
    border: none;
    border-radius:50% ;
    color: #7C8798;
    cursor: pointer;
}
.submit{
    background: #FC7614;
    border-radius: 22.5px;  
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    color: #FFFFFF;
    margin-top:32px; 
    width:341px;
    height: 45px;
    cursor: pointer;
}
.active{
    background-color:#FC7614 ;
    color: #FFFFFF;
}